In [5]:
import pandas as pd
import pymongo

In [6]:
df = pd.read_csv('data.csv')
df.head(3)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1

In [7]:
data = df.to_dict(orient = 'records')

In [ ]:
DD_NAME = "Veichle"
COLLECTION_NAME = "Veichle-Data"
CONNECTION_URL = "mongodb+srv://harshitrai:dYC1MSTn0GYescVJ@cluster0.xn71b7k.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [10]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DD_NAME]
collection = data_base[COLLECTION_NAME]

In [11]:
rec = collection.insert_many(data)

In [12]:
print(type(rec))

<class 'pymongo.results.InsertManyResult'>